@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ECommerce.WebApp
<ul class="dropdown-menu">
    @foreach (var item in Model.Cart.CartLines)
    {
        <li>
            <a>@item.Product.ProductTitle <span class="badge-dark">@item.Quantity</span></a>
        </li>

    }
</ul>