@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,ECommerce.WebApp
@model ECommerce.WebApp.Models.ViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/_Layout.cshtml";
}
<h3 style="text-align:center;">Add to Product</h3>
<form asp-controller="Default" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Product.ProductTitle"></label>
        <input asp-for="Product.ProductTitle" class="form-control" placeholder="Product Title" />
        <span asp-validation-for="Product.ProductTitle"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductDescription"></label>
        <textarea asp-for="Product.ProductDescription" class="form-control" placeholder="Product Description"></textarea>
        <span asp-validation-for="Product.ProductDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.StockQuantity"></label>
        <input asp-for="Product.StockQuantity" type="number" class="form-control" placeholder="Stock Quantity" />
        <span asp-validation-for="Product.StockQuantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.CategoryId"></label>
        <select asp-for="Product.CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))"></select>
        <span asp-validation-for="Product.CategoryId"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success" />
    </div>
</form>
