@model IEnumerable<ECommerce.Entities.Entities.Concrete.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<a href="/admin/Default/Add">Add</a>
<table id="customers" class="table table-responsive">
    <tr>
        <th>Title</th>
        <th>Description</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.ProductTitle</td>
            <td>@item.ProductDescription</td>
        </tr>



    }
</table>