@model ECommerce.WebApp.Models.ViewModel
<div class="list-group">
    @foreach (var item in Model.Categories)
    {
        <!--var cssChange = "list-group-item";
         if (item.CategoryId == Model.CurrentCategory)
         {
             cssChange += "dark";
         }-->
        <a href="/home/index?category=@item.CategoryId" class="list-group-item">@item.CategoryName</a>
    }
</div>