
@{
    ViewData["Title"] = "CompleteShopping";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>CompleteShopping</h1>
<div class="container">
    <div class="row">
        <form action="~/Cart/CompleteShopping" method="post">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="FirstName" placeholder="First Name" />
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="LastName" placeholder="Last Name" />
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" class="form-control" name="Email" placeholder="Email" />
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="City" placeholder="City" />
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <textarea name="Address" class="form-control" placeholder="Address"></textarea>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="number" class="form-control" name="Age" placeholder="Age" />
            </div>
            <input type="submit" value="Complete Shopping" href="Home/Index/" class="btn btn-success" />
        </form>
    </div>
</div>

